// Custom
$logo-default: 'http://piecioshka.pl/blog/images/posts/js.svg';
$logo-client: 'https://camo.githubusercontent.com/1397b699f0a99cf2974172bc0bc2a6f8c30a8521/687474703a2f2f692e696d6775722e636f6d2f6a6572665247792e706e67';


// Botstrap
$body-bg: #fff;