<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'MODULES.LOGIN.TITLE' | translate }}
            </div>
            <div class="panel-body">
                <form name="form" ng-submit="vm.login(vm.loginForm)">
                    <div class="form-group">
                        <label for="username">{{ 'MODULES.LOGIN.FORM.USERNAME' | translate }}</label>
                        <input ng-model="vm.loginForm.username" type="text" class="form-control" id="username"
                               placeholder="{{ 'MODULES.LOGIN.FORM.USERNAME' | translate }}"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="password">{{ 'MODULES.LOGIN.FORM.PASSWORD' | translate }}</label>
                        <input ng-disabled="true" ng-model="vm.loginForm.password" type="password" class="form-control"
                               id="password"
                               placeholder="{{ 'MODULES.LOGIN.FORM.PASSWORD' | translate }}">
                    </div>
                    <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary">{{ 'MODULES.LOGIN.TITLE' | translate }}</button>
                </form>
            </div>
        </div>
    </div>
</div>